{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="op" id="sale">
    <h2>Pianos for sale</h2>
    <p></p>
    <div class="row s12 op">
        {% for piano in pianos %}
        <div class="col s12 m6 l3">
            <div class="card left">
                <div class="card-image">
                    <img class="materialboxed" src="{% get_media_prefix %}{{ piano.image }}" alt="{{piano.brand}}">
                    <span class="card-title">
                    </span>
                </div>
                <div class="card-content">
                    <p><strong>Brand:</strong> {{piano.brand}}</p>
                    <p><strong>Price:</strong> EUR {{piano.price}}.-</p>
                    <p><strong>Age:</strong> {{piano.age}} y.</p>
                    <p><strong>Description:</strong> {{piano.description}}</p>
                </div>
                <div class="inline_actions center">
                    <a href="#" class="waves-effect waves-light btn btn_small red ">Del</a>
                    <a href="#" class="waves-effect waves-light btn btn_mid ">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
