{% extends 'base.html' %} {% load static %} {% load mytags %} {% block content %}

<div class="op" id="sale">
    <h3>Pianos for sale</h3>
    <div class="op">

        {% if pianos %} {% for piano in pianos %} {% cycle '
        <div class="row s12">' '' '' ''%}
            <div class="col s3">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed" src="{% get_media_prefix %}{{ piano.image }}" alt="{{piano.brand}}">
                        <span class="card-title">
                            </span>
                    </div>
                    <div class="card-content">
                        <p><strong>Brand:</strong> {{ piano.brand }}</p>
                        <p><strong>Price:</strong> EUR {{piano.price}}.- /month</p>
                        <p><strong>Age:</strong> {{piano.age}} y.</p>
                        <p><strong>Description:</strong> {% lorem 25 w random %}</p>
                    </div>
                </div>
            </div>
            {% cycle '' '' '' '</div>' %} {% endfor %} {% autoescape off %}{{ pianos|countpianos4divelement }}{% endautoescape %} {% else %}
        <div class="card">
            <div class="card-content">
                <p>Seems like we don't have any pianos left to rent, please <a href="{% url 'contact' %}">Contact us</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
